.user {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(182 181 181 / 20%),
      inset 5px 5px 5px rgb(216 240 255 / 51%);
  }
  .image {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding: 0.5rem;
  }
  .image img {
    border-radius: 50%;
  }
  .details {
    text-align: center;
  }
  h4 {
    margin-bottom: 10px;
  }